<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/system_file.xsd">
    <system>
        <tab id="skyfronts" translate="label" sortOrder="1">
            <label>Skyfronts</label>
        </tab>
    </system>
</config>